{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<style>
    box{
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px red;
    }
</style>

<img class = "logo" src = "/static/images/logo.png">

<form class = "fields" action = "/login" method = "post">
    <div class = "mb-3">
    <input type = "text" class="form-control mx-auto w-auto"  id = "username" placeholder = "Username" name = "username" required autofocus>
</div>
<div id="box" class = "mb-3">
    <input type = "password" class="form-control mx-auto w-auto"  id = "password" placeholder = "Password" name = "password" required autofocus>
</div>
    <button type = "submit" class = "button">Log In</button>

</form>

{% endblock %}
    




